body {
	height: 100vh;
	/* 배경 이미지를 넣어주세요 */
	background-image: url(images/background.jpeg);
	background-color: #ff9c00;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	display: flex;
	justify-content: center;
}

.container {
	/* 내부 여백의 상하 50px, 좌우 0으로 설정하는 코드 작성해 주세요 */
	padding: 50px 0px;
	display: flex;
	flex-direction: column;
    align-items: center;
}

.container .pokemons {
	display: flex;
	flex-wrap: wrap;
	/* 요소들의 메인 축을 가로로 설정하는 코드를 입력해 주세요 */
	flex-direction: row;
	/* 요소의 최대 가로 크기를 700px로 설정해 주세요 */
	max-width: 700px;
	/* 내부 여백에 상하 40px, 좌우 20px 적용해 주세요 */
	padding: 40px 20px;
	/* 그 밖에 필요한 속성들 추가 */
	justify-content: center;
	gap: 10px
}

.container .pokemons .pokemon {
	box-sizing: border-box;
	/* 너비 80px, 높이 84px, 테두리를 3px 실선 하얀색으로 지정해 주는 코드를 각각 작성해 주세요 */
	width: 80px;
	height: 84px;
	border: 3px solid white;
	border-radius: 12px;
	background-color: #333;
	/* transition 속성을 적용해 주세요 */
	transition: all 0.3 ease;
	/* transform 속성을 적용해 주세요 */
	transform: scale(1);
	transform: scale(1) skewX(-15deg);
	/* 그 밖에 필요한 속성 추가 */
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	cursor: default;

}

/* 마우스의 포인터를 각 요소에 올렸을 때 발생하는 효과를 적용하는 코드들 작성하기 (가상 선택자 활용) */
.container .pokemons .pokemon:hover{
	transform: scale(1.1) skewX(-15deg);
	background-color: #ff9c00;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
	z-index: 10;
}


/* :nth-child() 가상 클래스가 무엇인지 알아보고, 이를 적용하여 각 요소에 포켓몬 이미지 넣기 
(32개의 반복된 코드가 필요하며, 이미지는 background-image 속성 이용하기) */
.container .pokemons .pokemon:nth-child(1) { background-image: url(images/pokemon1.png); }
.container .pokemons .pokemon:nth-child(2) { background-image: url(images/pokemon2.png); }
.container .pokemons .pokemon:nth-child(3) { background-image: url(images/pokemon3.png); }
.container .pokemons .pokemon:nth-child(4) { background-image: url(images/pokemon4.png); }
.container .pokemons .pokemon:nth-child(5) { background-image: url(images/pokemon5.png); }
.container .pokemons .pokemon:nth-child(6) { background-image: url(images/pokemon6.png); }
.container .pokemons .pokemon:nth-child(7) { background-image: url(images/pokemon7.png); }
.container .pokemons .pokemon:nth-child(8) { background-image: url(images/pokemon8.png); }
.container .pokemons .pokemon:nth-child(9) { background-image: url(images/pokemon9.png); }
.container .pokemons .pokemon:nth-child(10) { background-image: url(images/pokemon10.png); }
.container .pokemons .pokemon:nth-child(11) { background-image: url(images/pokemon11.png); }
.container .pokemons .pokemon:nth-child(12) { background-image: url(images/pokemon12.png); }
.container .pokemons .pokemon:nth-child(13) { background-image: url(images/pokemon13.png); }
.container .pokemons .pokemon:nth-child(14) { background-image: url(images/pokemon14.png); }
.container .pokemons .pokemon:nth-child(15) { background-image: url(images/pokemon15.png); }
.container .pokemons .pokemon:nth-child(16) { background-image: url(images/pokemon16.png); }
.container .pokemons .pokemon:nth-child(17) { background-image: url(images/pokemon17.png); }
.container .pokemons .pokemon:nth-child(18) { background-image: url(images/pokemon18.png); }
.container .pokemons .pokemon:nth-child(19) { background-image: url(images/pokemon19.png); }
.container .pokemons .pokemon:nth-child(20) { background-image: url(images/pokemon20.png); }
.container .pokemons .pokemon:nth-child(21) { background-image: url(images/pokemon21.png); }
.container .pokemons .pokemon:nth-child(22) { background-image: url(images/pokemon22.png); }
.container .pokemons .pokemon:nth-child(23) { background-image: url(images/pokemon23.png); }
.container .pokemons .pokemon:nth-child(24) { background-image: url(images/pokemon24.png); }
.container .pokemons .pokemon:nth-child(25) { background-image: url(images/pokemon25.png); }
.container .pokemons .pokemon:nth-child(26) { background-image: url(images/pokemon26.png); }
.container .pokemons .pokemon:nth-child(27) { background-image: url(images/pokemon27.png); }
.container .pokemons .pokemon:nth-child(28) { background-image: url(images/pokemon28.png); }
.container .pokemons .pokemon:nth-child(29) { background-image: url(images/pokemon29.png); }
.container .pokemons .pokemon:nth-child(30) { background-image: url(images/pokemon30.png); }
.container .pokemons .pokemon:nth-child(31) { background-image: url(images/pokemon31.png); }
.container .pokemons .pokemon:nth-child(32) { background-image: url(images/pokemon32.png); }



.container .logo {
	/* 이미지 요소가 너무 크네요! 요소의 최대 가로 크기를 임의로 설정해 주세요 */
	max-width: 300px;
	/* margin을 이용해서 요소를 가운데 정렬 해주세요  */
	margin: 20px auto;
}

.container .logo img {
	/* width를 이용해서 로고를 부모 요소의 최대 너비에 맞춰서 출력할 수 있는 코드 작성해 주세요 */
	width: 100%;
}